body {
   margin: 0;
   padding: 0;
    background-color: rgb(18, 17, 19);
}

.header {
   background-color: aqua;
   max-width: 2200px;
}

.main-header {
   background-color: rgb(31, 41, 41);
   width: 100%;
   color: white;
   border-bottom: solid 1px #111;

}


.titulo {
   display: flex;
   align-items: center;
}

.container {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   align-items: center;
}

.logo {
   height: 50px;
   width: 50px;
   border-radius: 20px;
   margin: 15px;
}

.esquina-chat {
   background-color: rgb(18, 17, 19);
   padding: 15px;
   width: 30%;
   height: 50vh;
   max-width: 2200px;
   border-bottom: dashed 1px #000000;
   border-right: dashed 1px #333 ;
}

.chats {
   background-color: rgb(31, 41, 41);
   width: 100%;
   position: relative;
   max-width: 2200px;

}

.main-chat-content {
   display: flex;
   width: 100%;
}

.chat-bot {
   display: flex;
   align-items: center;
   background-color: rgb(73, 73, 102);
   border-radius: 15px;
   box-shadow: 0 10px 19px rgba(80, 79, 114, 0.5);
   cursor: pointer;
   transition: 0.5s ease;
}

.chat-bot:hover{
   background-color: rgb(94, 94, 185);
   box-shadow: 0 0 12px rgba(41, 36, 211, 0.5);
}

.bot-icon {
   width: 40px;
   height: 40px;
   margin-right: 10px;
   margin-left: 15px;
}

.togger-chat {
   padding-bottom: 30px;
   background-color: rgb(17, 17, 19);
   width: 100%;
   height: 50vh;
   max-width: 2200px;
   position: relative;
}

.logoInChat {
   width: 40px;
   height: 40px;
   margin-right: 10px;
}

.bar-header {
   display: flex;
   justify-content: space-between;
   border: solid 1px;
   align-items: center;
   padding-right:10px;
}

.nameCHat {
   display: flex;
   margin-left: 10px;
   margin-top: 10px;
   align-items: center;
   color: white;
}

.threePunts {
   padding: 20px;
   display: flex;
   gap: 3px;
}

.threePunts span {
   border-radius: 5px;
   padding: 3px;
   background-color: rgb(255, 255, 255);
}

.chater {
   padding: 20px;
   height: 27vh;
   margin-bottom: 10px;
   background-color: rgb(18, 18, 18);
   overflow-y: auto;
   color: white;
}

.input {

   display: flex;
   justify-content: center;
}

.chatOfBot,
.chatOfMe {
   display: flex;
   align-items: center;
}

.chatOfMe {
   justify-content: flex-end;
}

.logoOfBotChat {
   width: 40px;
   height: 40px;
   margin-right: 10px;
}

.logoOfMeChat {
   width: 40px;
   height: 40px;
   margin-left: 10px;
   border-radius: 30px;
}
